// Variables
@import "variables";

@import "node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";

body, p {
  font-family: 'Open Sans', sans-serif
}

.stage {

  height: 60vh;

  .cover {
    height: 60vh;
  }

  .landing {
    background-color: #fff;
  }

}

.stage-featured {
  height: 40vh;
  background-color: #0C0C0C;
  .card {
    height: 100%;
    padding: 0;
    > div {
      padding: 30px;
      //background-color: rgba(0, 0, 0, 0.9);
      @include linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
      margin: 0;
      border: none;
      height: 100%;
    }
  }

  .layout-row {
    vertical-align: bottom;
    text-align: left;

  }

}

.card {

  height: 100%;
  color: lightgray;
  background-size: cover;
  background-repeat: no-repeat;

  .card-cover {
    display: block;
    height: 40%;
  }

  a {
    color: lightgray;

    &:hover {
      color: #fff;
    }

  }

  .card-title , .card-description {
    text-shadow: 1px 1px 2px black;
  }

  .card-description {
    font-size: 21px;

  }

}

.oswald {
  font-family: 'Oswald', sans-serif;
  font-size: 79px;
}

footer {
  background-color: rgba(0, 0, 0, 0.9);
}
